body {
    font-family: "Montserrat";
    text-align: center;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
  }
  
  p {
    color: #8f8f8f;
  }
  
  /* Headings */
  
  .big-heading {
    font-family: "Montserrat-Black";
    font-size: 2.5rem;
    line-height: 1.5;
  }
  .big-headings {
    font-family: "Montserrat-Black";
    font-size: 2rem;
    line-height: 1.5;
  }
 
  .head{
    padding:20px 0px;
    font-size: 1rem;
  }
  
  .section-heading {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  /* Containers */
  .container-nav{
    padding: 2% 8% 0% 14%;
  }
  .container-fluid{
    padding: 4% 15%;
  }
  
  /* Sections */
  
  .colored-section {
    background-color: rgb(102,102,255);
    color: #fff;
  }
  
  .white-section {
    background-color: #fff;
  }
  
  /* Navigation Bar */
  

  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 1.7rem;
    font-weight: bold;

  }

  .nav-item {
    padding: 0 12px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
    margin-left: -10px;
    
  }

  /* Title Section */
  
  #title {
    background-color: rgb(102,102,255);
    color: #fff;
    text-align: left;
  }
  
  #title .container-fluid {
    padding: 3% 15% 10%;
  }
  
  /* Title Image */
  
  .title-image {
    width: 115%;
    height: 130%;
    border-radius: 2%;
    position: absolute;
    
  }
  
  /* Features Section */
  
  #features {
    position: relative;
  }
  
  .feature-title {
    font-size: 1.5rem;
  }
  
  .feature-box {
    padding: 4.5%;
  }
  
  .icon {
    color: rgb(102,102,255);
    margin-bottom: 1rem;
   
  }
  
  .icon:hover {
    color: rgb(102,102,255);
  }
  
  /* About*/
  
 .about-us{
   padding: 10px 0px;
   line-height: 1.9;
 }
  
hr{
  border-top: 2px dotted black;
}
  
 
  .press-logo {
    width: 15%;
    margin: 20px 20px 50px;
  }
 
  
  /* Our Mission */
  .mission{
    text-align: justify;
  }
  .info{
    padding: 20px 20px;
  }
  .image{
    width: 40%;
    height: 40%;
    border-radius: 7px;
  }
  /* Footer Section */
 
  
  .social-icon {
    color: #66f;
    margin: 20px 10px;
  }
  .social-icon:hover{
    color: #002366;
  }
  @media (max-width: 1028px) {
  
    #title {
      text-align: center;
    }
  
    .title-image {
      position: static;
      transform: rotate(0);
    }
  }
  
  .para{
     text-align: left;
     margin:20px 20px 50px;
  }

.mail{
  color:#66f;
}
.mail:hover{
  text-decoration: none;
  color: #002366;
}
